@import './_breakpoints';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: $breakpoint-xlarge) {
      font-size: 93.75%
  }
  @media (max-width: $breakpoint-small) {
      font-size: 87.5%
  }
}

a {
  text-decoration: none;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #fff; 
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  box-shadow: 0 0 0 1000px transparent inset;
  -moz-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #fff; 
}


input:-o-autofill,
textarea:-o-autofill,
select:-o-autofill {
  box-shadow: 0 0 0 1000px transparent inset;
  -o-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #fff; 
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  --webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

::-webkit-input-placeholder {
  color: #ffff;
}

button {
  cursor: pointer;
  border: 0;
}

[disabled] {
  opacity: .6;
  cursor: not-allowed;
}

